#main a, #send{
    border: none;
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 10px;
    margin: 5px;
    background-color: silver;
    border-radius: 3px;
}
.flex{
    margin: 5px;
}
.long{
    width: 300px;
}
.short{
    width: 200px;
}
.error{
    color: red;
}