@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color: bisque;
}

#wrapper{
    width: 100%;
    min-height: 100%;
	margin: 0 auto;
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 50px;
    background-color: chocolate;
}

.enter{
    display: flex;
    gap: 10px;
}

.enter form{
    display: flex;
    gap: 10px;
}

.enter form input[type=text]{
    font-size: 15px;
    padding: 4px;
    margin-top: 3px;
}

.enter form input[type=submit]{
    font-size: 19px;
    margin-top: 2px;
}

.enter a{
    display: inline-block;
    text-decoration: none;
    color: black;
    height: 20px;
    padding: 6px;    
    background-color:rgb(255, 204, 141);
    border: 2px solid chocolate;
    border-radius: 4px;
}

.enter a:hover{
    border: 2px solid black;
}

.composers{
    display: flex;
    justify-content: space-between;
    padding: 25px;
    background-color: rgb(255, 204, 141);
}

.composers h3{
    margin: 0;
    padding: 0;
}

.composers a{
    display: inline-block;
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 8px;
}

.composers a:hover{
    border: 2px solid black;
    border-radius: 4px;
    padding: 6px;
}

.content{
    font-size: 19px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.column1{
    width: 24%;
    padding: 5px;
    margin-bottom: 1px;
}

.column2{
    width: 24%;
    padding: 5px;
    margin-bottom: 1px;
}

.column3{
    width: 24%;
    padding: 5px;
}

.column4{
    width: 24%;
    padding: 5px;
}

.column4 a{
    display: inline-block;
    text-decoration: none;
    color: black;
    height: 20px;
    margin: 13px 5px 5px 0px;
    padding: 3px 6px 6px 6px;    
    background-color:rgb(255, 204, 141);
    border: 2px solid chocolate;
    border-radius: 4px;
}

.column4 a:hover{
    border: 2px solid black;
}

span{
    font-weight: bold;
}

footer{
    width: 100%;
    padding: 20 0 20 0;
    background-color: rgb(255, 204, 141);
    position: absolute;     /*времянка*/
    bottom: 0px;
}
